.footer {
  background-color: $c-black;
  padding: 27px 0;
 
  .container {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-height: 26px;
  }

  &__sociais {

    &--list {
      display: flex;
    }
    &--item {
      margin-right: 17px;
    }
  }
}