.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.header {
  width: 100%;
  height: 100px;
  background:linear-gradient(20deg,#12C9FD 0%, #1A60E8 100%);
  font-weight: 500;
  position: fixed;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0);
  z-index: 10;

  
  &__logo {

    img {
      max-width: 200px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: royalblue;
    transform: translatex(100%);
    @media screen and(min-width: 990px) { 
      position: initial;
      height: 100%;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      transform: initial;
    }

    &--active {
      transform: translatex(10%);
    }

    &--close {
      cursor: pointer;
      display: flex;
      background-color: red;
      padding: 30px;
      width: 20px;
      @media screen and(min-width: 990px) { 
        display: none;
      }
    }
    &--open {
      cursor: pointer;
      display: flex;
      background-color: red;
      padding: 30px;
      width: 20px;
      @media screen and(min-width: 990px) { 
        display: none;
      }
    }
    &--list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 10px;
      @media screen and(min-width: 990px) {
        margin-top: 0;
        width: auto;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
    }

    &--item {
      margin-left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      @media screen and(min-width: 990px) { 
        width: auto;
        height: 100%;
      }
      a {
        width: 100%;
        padding: 20px;
        cursor: pointer;
        color: $c-white;
        font: {
          size: 16px;
          weight: 300;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__login {
    order: 3;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    span {
      margin-right: 20px;
    }
    @media screen and (min-width: 445px) {
      width: auto;
    }
    @media screen and (min-width: 769px) {
      order: 4;
    }
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 769px) {
      flex-wrap: nowrap;
    }
  }
}